<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        KnoMoney
      {% endblock %}
    </title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a href="#">KnoMoney</a>
      <a href="/">Home</a>
      <a href="{% url 'calculator' %}">Calculator</a>
      <a href="{% url 'faq' %}">FAQs</a>
    </nav>
    <div>{% block content %} {% endblock %}</div>
    {% load static %}
    <script src="{% static 'scripts/addLoan.js' %}"></script>
  </body>
</html>