{% extends "base.html" %} 
{% block title %} 
Calculator 
{% endblock %}
{% block content %}
<form id="loanForm" class="container p-5">
    <label for="graduation" class="lead form-label">Expected Graduation Date:</label>
    <input class="form-control mb-4" type="date" name="graduation" required>

    <p class="lead">Loan Portfolio:</p>
    <div id="loanContainer">
        <fieldset class="loanEntry border p-2">
            <legend class="text-center lead">Loan 1</legend>
            <label for="balance">Balance ($): </label>
            <input type="number" name="balance[]" min="0.01" step="0.01" required>
            <label for="interest">Interest Rate (%): </label>
            <input type="number" name="interest[]" min="0.01" max="99.99" step="0.01" required>
            <label for="type">Loan Type:</label>
            <select name="type[]" required>
                <option value="" disabled selected>-- Select --</option>
                <option value="unsubsidized">Unsubsidized</option>
                <option value="subsidized">Subsidized</option>
            </select>
            <label for="received">Date Received:</label>
            <input type="date" name="received[]" required>
        </fieldset>
    </div>
    <button type="button" id="addLoan">Add Loan</button>
    <input type="submit" value="Calculate">
</form>
{% endblock %}