<form id="whatIfForm">
    <p class="fs-5">What if I pay $
        <input type="number" id="customPayment" class="form-control d-inline text-center" name="whatIf" value="25.00" min="1" step="0.01" style="width: 100px"> per month?
        <input type="submit" id="whatIf" class="btn btn-success ms-2" value="Calculate"></input>
    </p>
</form>
<p class="fs-5 fw-bold">You will have paid $
    <span id="whatIfPaid" class="d-inline"></span> by the end of your grace period and save $
    <span id="whatIfSaved" class="d-inline"></span> over 10 years
</p>