{% extends "base.html" %} 
{% block title %} 
FAQs
{% endblock %}
{% block content %}
<div class="container p-5 text-center">
    <h1>Frequently Asked Questions</h1>

    <div id="accordion" class="mt-5">
        <div class="card">
          <div class="card-header">
            <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
              How is my student loan interest calculated?
            </a>
          </div>
          <div id="collapseOne" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
              <p class="text-start">
                Student loan interest is typically calculated using a simple interest formula, which means it is based only on the principal balance of the loan and not accumulated interest. Interest is also traditionally calculated daily, to find the daily interest you divide the annual interest rate by 365 and then multiply the result by the current principal balance. 
              </p>
              <a href="https://www.nerdwallet.com/article/loans/student-loans/student-loans-simple-compound-interest"
                class="btn btn-success"
                target="_blank" 
                rel="noopener noreferrer">
                Learn More: Student Loan Calculation
              </a>
            </div>
          </div>
        </div>
      
        <div class="card">
          <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
             Where can I find my student loan portfolio?
            </a>
          </div>
          <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
              <p class="text-start">
                Are you unsure how many loans you have or who is servicing them? Your student loans may or may not all be with the same servicer, and it’s important to find out which companies are servicing your loans.  
                Visit <a href="https://studentaid.gov/" target="_blank" rel="noopener noreferrer">StudentAid.gov</a> for an overview of all of your federal student loans. You will need your <strong>FSA ID</strong> to access the information.  
                If you do not have an <strong>FSA ID</strong> or do not know yours, you can request one from  
                <a href="https://studentaid.gov/" target="_blank" rel="noopener noreferrer">Studentaid.gov</a>.  
              </p>
              <a href="https://edfinancial.studentaid.gov/Finding-Your-Student-Loans"
                class="btn btn-success"
                target="_blank" 
                rel="noopener noreferrer">
                Learn More: Find Your Student Loans
              </a>
            </div>
          </div>
        </div>
      
        <div class="card">
          <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">
              What is the difference between subsidized and unsubsidized loans?
            </a>
          </div>
          <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
              <p class="text-start">
                Subsidized loans do not accrue interest while in school or while in a deferment period. 
                Unsubsidized loans accrue interest starting at the date of loan disbursement.
                Most people are offered both, but subsidized loans are much better to take if you have the choice. 
                Watch this short video for an example.
                </p>
                <div class="text-center my-3">
                  <iframe width="50%" height="315" 
                          src="https://www.youtube.com/embed/8CC9MkxPBQQ" 
                          title="Subsidized vs Unsubsidized Loans" 
                          allowfullscreen>
                  </iframe>
                </div>
                <a href="https://studentaid.gov/articles/subsidized-vs-unsubsidized-loans/"
                class="btn btn-success"
                target="_blank" 
                rel="noopener noreferrer">
                Learn More: Subsidized VS Unsubsidized Loans
              </a>
              </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFour">
             What is capitalization?
            </a>
          </div>
          <div id="collapseFour" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
              <p class="text-start">
                Interest capitalization is when unpaid accumulated interest, also called accrued interest, is added to the principal loan balance. This increases the cost of the loan over time because interest is then calculated based on the new, higher loan balance. 
                When you start repayment, all of this accrued interest will capitalize – meaning it will be added to the principal balance – making your new loan balance higher. Interest can also be capitalized when you miss a student loan payment.
              </p>
              <a href="https://www.usnews.com/education/blogs/student-loan-ranger/articles/student-loan-interest-capitalization-what-to-know"
                class="btn btn-success"
                target="_blank" 
                rel="noopener noreferrer">
                Learn More: Interest Capitalization
              </a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFive">
             What is a student grace period?
            </a>
          </div>
          <div id="collapseFive" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
              <p class="text-start">
                A grace period for student loans is a specific time frame where borrowers can forego their loan payments without incurring any penalties.
                The student loan grace period for federal student loans begins once the student graduates from, leaves school, or falls below part-time status.
                For most federal student loans, the grace period will last for six months.
              </p>
              <a href="https://www.forbes.com/advisor/student-loans/what-is-a-student-loan-grace-period/"              
                class="btn btn-success"
                target="_blank" 
                rel="noopener noreferrer">
                Learn More: Grace Period
              </a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseSix">
             What is the difference between federal and private loans?
            </a>
          </div>
          <div id="collapseSix" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
              <p class="text-start">
                Lenders offer private student loans to cover education expenses, usually in times when federal loans cannot cover the full cost.
                Private student loans allow you to choose your lender, though they may bring higher interest rates. Federal student loans offer limited loan options, but generally have lower rates and multiple repayment plans.
              </p>
              <a href="https://money.usnews.com/loans/student-loans/articles/private-student-loans-vs-federal-student-loans-whats-the-difference"              
                class="btn btn-success"
                target="_blank" 
                rel="noopener noreferrer">
                Learn More: Federal VS Private Loans
              </a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseSeven">
             What happens when I pay more than my monthly payment?
            </a>
          </div>
          <div id="collapseSeven" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
              <p class="text-start">
                Paying more than your monthly minimum can help you to reduce your loan balance quicker. <br>
                <strong>Warning:</strong> Sometimes, when you pay more than your monthly payment, your lender will “credit” the amount against a future payment rather than apply it toward your loan balance. This is called “paid ahead status” and is most common with federal loans. You may need to call or change your settings to put your payment toward your principle, which lowers your overall balance. This will be under special payment instructions, and you will have to select <strong>do not advance my due date.</strong> 
              </p>
              <a href="https://www.consumerfinance.gov/ask-cfpb/can-i-make-additional-payments-on-my-student-loan-en-607/"              
                class="btn btn-success"
                target="_blank" 
                rel="noopener noreferrer">
                Learn More: Pay Off Loans Faster
              </a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseEight">
             Can I deduct my interest payments on my taxes?
            </a>
          </div>
          <div id="collapseEight" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
              <p class="text-start">
                You can deduct the interest you pay on your student loans. Deducting student interest lowers your adjusted gross income (AGI). However, you’re limited to deducting <strong>$2,500</strong> of student loan interest, and there are a few other rules and limits to keep in mind.
                If you have defaulted on your federal student loans, the federal government could seize any federal tax refund you might be expecting.
              </p>
              <a href="https://www.forbes.com/advisor/taxes/student-loans-taxes/"              
                class="btn btn-success"
                target="_blank" 
                rel="noopener noreferrer">
                Learn More: Student Loans Impact Taxes
              </a>
              <a href="https://www.irs.gov/taxtopics/tc456"              
                class="btn btn-success"
                target="_blank" 
                rel="noopener noreferrer">
                Learn More: Student Loan Tax Deduction
              </a>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}