{% extends "base.html" %} 
{% block content %}
{% csrf_token %}
<div class="container-fluid text-center py-5">
    <h1 class="display-3 fw-bold text-success">Welcome to KnoMoney</h1>
    <p class="fs-5 text-muted mx-auto" style="max-width: 650px;">
        We to make student loans as easy as possible, while saving you the most money possible.
    </p>
</div>
<div id="graduation" class="container">
    <label for="graduation" class="lead form-label">Expected Graduation Date:</label>
    <input id="graduationDate" class="form-control mb-4" type="date" name="graduation" required>
</div>
<div id="loanExamples" class="container text-center">
    <div class="row align-items-center">
        <div class="col-md-6 d-flex flex-column gap-3">
            <p class="lead form-label">How much student debt do you expect to have?</p>
            <button class="btn btn-success btn-lg">$0 - $10K</button>
            <button class="btn btn-success btn-lg">$10K - $20K</button>
            <button class="btn btn-success btn-lg">$20K - $30K</button>
            <button class="btn btn-success btn-lg">$30K+</button>
        </div>
        <div id="savings" class="col-md-6 border">
            <h3 class="p-2">You could save:</h3>
            <h2 id="savingsAmt" class="p-2">$100</h2>
            <button class="btn btn-outline-success p-2">Share</button>
        </div>
    </div>
</div>
{% endblock %}