{% extends "base.html" %} 
{% load static %}
{% block content %}
{% csrf_token %}
<div class="container-fluid text-center py-5">
    <h1 class="display-3 fw-bold text-success">Welcome to KnoMoney</h1>
    <p class="fs-5 text-muted mx-auto" style="max-width: 650px;">
        We are making student loans as easy as possible, while saving you the most money possible.
    </p>
</div>
<form id="expectedDebt" class="was-validated">
    <div id="graduation" class="container">
        <label for="graduation" class="lead form-label">Expected Graduation Date (month/year):</label>
        <input id="graduationDate" class="form-control mb-4" type="month" name="graduation" value="2025-05" required>
    </div>
    <div id="loanExamples" class="container text-center">
        <div class="row align-items-center">
            <div class="col-md-5 d-flex flex-column gap-3">
                <p class="lead form-label">How much student debt do you expect to have?</p>
                <input type="submit" class="btn btn-success btn-lg" name="debtRange" value="~ $10K"></input>
                <input type="submit" class="btn btn-success btn-lg" name="debtRange" value="~ $20K"></input>
                <input type="submit" class="btn btn-success btn-lg" name="debtRange" value="~ $30K"></input>
                <input type="submit" class="btn btn-success btn-lg" name="debtRange" value="~ $40K"></input>
            </div>
            <div id="saveContainer" class="col-md-6 m-auto border border-dark pt-3 pb-2 mt-3 d-none">
                <div id="share">
                    <div class="position-relative">
                        <button type="button" class="btn btn-outline-success btn-sm position-absolute top-0 end-0"
                            data-bs-toggle="popover" 
                            data-bs-placement="top"
                            data-bs-title="Potential Savings Calculation" 
                            data-bs-content="We estimate potential savings by comparing the selected loan balance range with and without capitalized interest. We assume loans are disbursed over four years prior to your graduation date, accruing interest at historical federal student loan rates. By making early payments prior to graduating, you can reduce the total interest added to your loan (capitalized), lowering overall repayment costs. For more information, check out the FAQ page from the menu in the top left of your screen.">
                            <i class="bi bi-question-circle-fill"></i>
                        </button>
                    </div>
                    <p class="fs-5">Based on your selected loan range, you have potential to save</p>
                    <p class="savingsAmt fw-bold fs-4"></p>
                    <p>
                        While you're in school, interest accrues on your unsubsidized loans. 
                        If unpaid, this interest gets added to your loan balance (capitalizes) after graduation, 
                        increasing future interest costs. To save money, you (or your family) 
                        can pay off the accrued interest before it capitalizes—reducing your total 
                        repayment amount and lowering long-term costs!
                    </p>
                </div>
                <p>Share this savings information with your parents, family, or save for later reference.</p>
                <a id="emailButton" class="btn btn-outline-success" href="#">Share via Email</a>
                <button type="button" id="copyButton" class="btn btn-success" title="Copy to clipboard">
                    <i id="copyIcon" class="bi bi-clipboard"></i>
                </button>
            </div>          
        </div>
    </div>
</form>

<div id="detailCalc">
    <h1 class="mt-5 text-center">Know more about your loans?</h1>
    <p class="lead text-center">Input the following information to get detailed recommendations on how you can save!</p>
    <form id="loanForm" class="container p-5 was-validated">
        <div id="graduation">
            <label for="graduation2" class="lead form-label">Expected Graduation Date:</label>
            <input id="graduationDate2" class="form-control mb-4" type="month" name="graduation2" value="2025-05" required>
        </div>
        <p class="lead">Loan Portfolio:</p>
        <div id="loanContainer">
            <fieldset class="loanEntry border p-2 mb-3">
                <div class="d-flex justify-content-between align-items-center">
                    <legend class="lead m-0 text-center">Loan 1</legend>
                    <button type="button" class="btn-close" style="visibility: hidden;" ></button>
                </div>
                <div class="row">
                    <div id="semester" class="col-12 col-md">
                        <label for="semester" class="form-label">Semester Loan was Taken:</label>
                        <select name="semester[]" class="semester form-select" required>
                            <option value="" disabled selected>-- select --</option>
                        </select>
                    </div>
                    <div id="type" class="col-12 col-md">
                        <label for="type" class="form-label">Loan Type</label>
                        <button type="button" class="btn btn-outline-success btn-sm ms-1"
                            data-bs-toggle="popover" 
                            data-bs-placement="top"
                            data-bs-title="Unsubsidized vs Subsidized?" 
                            data-bs-content=
                                "Unsubsidized loans accrue interest from the time they are disbursed, 
                                and you are responsible for all interest payments. The government covers
                                the interest for subsidized loans while in school plus 6 months after graduation.
                                You can check which type you have by logging into studentaid.gov or reviewing 
                                your financial aid award letter.">
                            <i class="bi bi-question-circle-fill"></i>
                        </button>
                        <select name="type[]" class="form-select" required>
                            <option value="" disabled selected>-- select --</option>
                            <option value="unsubsidized">Unsubsidized</option>
                            <option value="subsidized">Subsidized</option>
                        </select>
                    </div>
                    <div id="balance" class="col-12 col-md">
                        <label for="balance" class="form-label">Balance ($): </label>
                        <input type="number" class="form-control" name="balance[]" placeholder="Loan Balance" min="0.01" max="100000" step="0.01" required>
                    </div>
                    <div id="interest" class="col-12 col-md">
                        <label for="interest" class="form-label">Interest Rate: </label>
                        <input type="number" class="form-control" name="interest[]" placeholder="Loan Interest Rate" readonly>
                    </div>
                </div>
            </fieldset>
        </div>
        <button type="button" class="btn btn-outline-success" id="addLoan">Add Loan</button>
        <div class="d-flex justify-content-end">
            <input id="calculate" type="submit" class="btn btn-success btn-lg" value="Calculate">  
        </div>
    </form>
    <div id="resultContainer">
        <fieldset class="container">
            <div class="border border-dark p-3 mt-3 text-center d-none">
                <h2 class="mb-3">RESULTS</h2>
                <p class="fw-bold">Total Accrued Interest by End of Grace Period:</p>
                <p id="totalInterest" class="mb-2"></p>
                <p class="fw-bold">Potential Savings (Over 10 Years):</p>
                <p id="potentialSavings"></p>
            </div>
        </fieldset>
    </div> 
    <div id="recommendationsContainer">
        <fieldset class="container">
            <div class="border border-dark p-3 mt-3 text-center d-none">
                <h2 class="mb-3">RECOMMENDATIONS</h2>
                <p class="fw-bold">Monthly Payment to pay off accrued interest:</p>
                <p id="monthlyPayment" class="mb-2"></p>
                <form id="whatIfForm">
                    <p class="fw-bold">What if I pay $
                        <input type="number" id="customPayment" class="form-control d-inline text-center" name="whatIf" value="25.00" min="1" step="0.01" style="width: 100px"> per month?
                        <input type="submit" id="whatIf" class="btn btn-success ms-2" value="Calculate"></input>
                    </p>
                </form>
                <p class="fw-bold">You will have paid $
                    <span id="whatIfPaid" class="d-inline"></span> by the end of your grace period and save $
                    <span id="whatIfSaved" class="d-inline"></span> over 10 years
                </p>
            </div>
        </fieldset>
    </div>
    <div id="refer" class="container text-center border w-50 p-2 mb-5">
        <h5>Refer a Friend</h5>
        <p>Share this with a friend who might benefit!</p>
        <div class="input-group mb-1">
            <input type="email" id="friendEmail" class="form-control" placeholder="Friend's Email" required>
            <button id="sendEmail" class="btn btn-success">Send</button>
        </div>
        <p class="text-muted small">This will draft an email to share KnoMoney.com</p>
    </div>
</div>
{% endblock %}
{% block additional_js %}
<script src="{% static 'scripts/addLoan.js' %}"></script>
<script src="{% static 'scripts/validInputs.js' %}"></script>
<script src="{% static 'scripts/expectCalc.js' %}"></script>
<script src="{% static 'scripts/calculate.js' %}"></script>
<script src="{% static 'scripts/share.js' %}"></script>
<script src="{% static 'scripts/uploadInputs.js' %}"></script>
{% endblock %}